{% include "./header.html"%}
  <style> a { color: #bdbdbd; } </style>
  <div class="row">
    <div class="col s10 offset-s1 grey darken-2" style="padding: 5px; border-radius: 10px; margin-top: 15px;">
      <div class="col s12">
        {%if request.type == "video"%}
          <p><strong>What is the video's URL?</strong> <a href="{{request.requestdata.url}}">{{request.requestdata.url}}</a></p>
          <br>
          <p><strong>Is the video made by you?</strong> {{request.requestdata.owner}}</p>
          <br>
          <p><strong>Please give us a small description about this video, including why you want to post it on /r/Twitch.</strong> {{request.requestdata.description}}</p>
          <br>
        {%elseif request.type == "web_tool" || request.type == "desktop_tool"%}
          <p><strong>What is the tool's name?</strong> {{request.requestdata.name}}</p>
          <br>
          <p><strong>What is the tool's URL?</strong> <a href="{{request.requestdata.url}}">{{request.requestdata.url}}</a></p>
          <br>
          <p><strong>Please give us a small description of your service.</strong> {{request.requestdata.description}}</p>
          <br>
          <p><strong>What user data will you require? Examples: email addresses, cookies, login data, API data, etc.</strong> {{request.requestdata.data}}</p>
          <br>
          <p><strong>Do you require data from the Twitch API?:</strong> {{request.requestdata.api}}</p>
          {%if request.requestdata.api == "Yes"%}
            <p><strong>What user data will you store from the Twitch API?</strong> {{request.requestdata.apidata}}</p>
            <p><strong>What scopes will you use from the Twitch API?</strong> {{request.requestdata.scopes}}</p>
            <p><strong>Please describe why you need each of the above scopes.</strong> {{request.requestdata.scopesdescription}}</p>
          {%endif%}
          <br>
          <p><strong>Is your code open source, or avaliable upon request?</strong> {{request.requestdata.code}}</p>
          {%if request.requestdata.code == "Yes"%}
            <p><strong>Please provide a link to where we can find the code.</strong> <a href="{{request.requestdata.codelink}}">{{request.requestdata.codelink}}</a></p><br>
          {%endif%}
          <br>
          <p><strong>Do you have a Terms of Service?</strong> {{request.requestdata.tos}}</p>
          {%if request.requestdata.tos == "Yes"%}
            <p><strong>Please provide a link to your Terms of Service.</strong> <a href="{{request.requestdata.toslink}}">{{request.requestdata.toslink}}</a></p><br>
          {%endif%}
          <br>
          <p><strong>If you are in beta, do you expect any updates to change the above answers?</strong> {{request.requestdata.beta}}</p>
          {%if request.requestdata.beta == "Yes"%}
            <p><strong> What do you expect to change when you leave beta?</strong> {{request.requestdata.betachanges}}</p>
          {%endif%}
          <br>
        {%elseif request.type == "ama_streamer"%}
          <p><strong>Are you partnered with Twitch?</strong> {{request.requestdata.partner}}</p>
          {%if request.requestdata.partnertime == "Yes"%}
            <p><strong>For how long have you been a Twitch partner?</strong> {{request.requestdata.partnertime}}</p>
          {%endif%}
          <br>
          <p><strong>Roughly how many viewers do you get per stream?</strong> {{request.requestdata.viewers}}</p>
          <br>
          <p><strong>What makes you think you would make a good AMA host?</strong> {{request.requestdata.good_host}}</p>
          <br>
          <p><strong>Why do you want to an AMA?</strong> {{request.requestdata.why}}</p>
          <br>
          <p><strong>What do you want to be the focus of your AMA (if anything)?</strong> {{request.requestdata.focus}}</p>
          <br>
          <p><strong>Can you give us a background on yourself and your stream?</strong> {{request.requestdata.background}}</p>
          <br>
          <p><strong>What date would you like your AMA to start on?</strong> {{request.requestdata.start}}</p>
          <br>
          <p><strong>How many days would you like your AMA to run for?</strong> {{request.requestdata.length}}</p>
          <br>
        {%elseif request.type == "ama_business"%}
          <p><strong>What is your business' name?</strong> {{request.requestdata.name}}</p>
          <br>
          <p><strong>What is your product's name?</strong> {{request.requestdata.productname}}</p>
          <br>
          <p><strong>Do you have the necessary permissions from the company to talk about the product on /r/Twitch?</strong> {{request.requestdata.permission}}</p>
          <br>
          <p><strong>Do you have a Terms of Service?</strong> {{request.requestdata.tos}}</p>
          {%if request.requestdata.tos == "Yes"%}
            <p><strong>Please provide a link to your Terms of Service.</strong> <a href="{{request.requestdata.toslink}}">{{request.requestdata.toslink}}</a></p><br>
          {%endif%}
          <br>
          <p><strong>What user data do you require on your product? Examples: email addresses, cookies, login data, API data, etc.</strong> {{request.requestdata.userdata}}</p>
          <br>
          <p><strong>What date would you like your AMA to start on?</strong> {{request.requestdata.start}}</p>
          <br>
          <p><strong>How many days would you like your AMA to run for?</strong> {{request.requestdata.length}}</p>
          <br>
        {%elseif request.type == "other"%}
          <p><strong>Please provide as much detail about your request as possible.</strong> {{request.requestdata.description}}</p>
          <br>
        {%endif%}
        <hr />
      </div>
      <div class="col s3 center" style="border-right: dotted 1px white;">
        <strong>Reddit Username</strong>
        <br />
        <span>{{request.redditname}}</span>
        <br />
        <a href="http://reddit.com/u/{{request.redditname}}">(Profile)</a>
      </div>
      <div class="col s3 center" style="border-right: dotted 1px white;">
        <strong>Twitch Username</strong>
        <br />
        <span>{{request.twitchname}}</span>
        <br />
        <a href="http://twitch.tv/{{request.twitchname}}">(Profile)</a>
      </div>
      <div class="col s3 center" style="border-right: dotted 1px white;">
        <strong>Type</strong>
        <br />
        <span>
          {%if request.type == "video"%}
          Video
          {%elseif request.type == "web_tool"%}
          Web Tool
          {%elseif request.type == "desktop_tool"%}
          Desktop Tool
          {%elseif request.type == "ama_streamer"%}
          Streamer AMA
          {%elseif request.type == "ama_business"%}
          Business AMA
          {%elseif request.type == "other"%}
          Other
          {%endif%}
        </span>
        <br />
        <a class="modal-trigger" href="#modal-confirm-delete-{{request.id}}">(Delete)</a>
        <div id="modal-confirm-delete-{{request.id}}" class="modal left-align">
          <div class="modal-content black-text">
            <h4>Request by {{request.redditname}}</h4>
            <hr>
            <span>Are you sure you want to delete this request? </span>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close btn red darken-4">No</a>
            <a href="#!" class="modal-close btn green darken-4" data-id="{{request.id}}" id="delete-request">Yes</a>
          </div>
        </div>
      </div>
      <div class="col s3 center">
        <strong>Request ID</strong>
        <br />
        <span>{{request.id}}</span>
        <br />
        <a href="/request/{{request.id}}">(Permalink)</a>
      </div>
      <hr />
      <div class="col s3 center" style="border-right: dotted 1px white;">
        <strong>Status</strong>
        <br />
        <span id="status-{{request.id}}">
          {% if request.open %}
            Open
          {% else %}
            Closed
          {% endif %}
        </span>
        <br />
        <a href="javascript:;" data-id="{{request.id}}" data-status="{{request.open}}" id="change-status">(Change)</a>
      </div>
      <div class="col s3 center" style="border-right: dotted 1px white;">
        <strong>Approval Status</strong>
        <br />
        <span id="approved-{{request.id}}">{{request.approved}}</span>
        <br />
        <a href="javascript:;" data-id="{{request.id}}" data-status="{{request.approved}}" id="change-approved">(Change)</a>
      </div>
      <div class="col s3 center">
        <strong>Date Submitted</strong>
        <br />
        <span>{{request.date|date("j/n\/y")}}</span>
      </div>
      <div class="col s3 center" style="border-left: dotted 1px white;">
        <strong>Comments</strong>
        <br />
        {% set comments_total = 0 %}
        {% if request.comments.heep123 !== "" %}
        {% set comments_total += 1 %}
        {% endif %}
        {% if request.comments.distortednet !== "" %}
        {% set comments_total += 1 %}
        {% endif %}
        {% if request.comments.boomliam !== "" %}
        {% set comments_total += 1 %}
        {% endif %}
        {% if request.comments.mellownebula !== "" %}
        {% set comments_total += 1 %}
        {% endif %}
        {% if request.comments.conceptional !== "" %}
        {% set comments_total += 1 %}
        {% endif %}
        {% if request.comments.laagone !== "" %}
        {% set comments_total += 1 %}
        {% endif %}
        {% if request.comments.decicus !== "" %}
        {% set comments_total += 1 %}
        {% endif %}
        {% if request.comments.sargasm_gaming !== "" %}
        {% set comments_total += 1 %}
        {% endif %}
        {% if request.comments.zcotticus !== "" %}
        {% set comments_total += 1 %}
        {% endif %}
        <span>{{comments_total}}</span>
        <br />
        <a href="#modal-comments-{{request.id}}" data-id="{{request.id}}" class="modal-trigger">(Edit)</a>
        <div id="modal-comments-{{request.id}}" class="modal left-align">
          <div class="modal-content black-text">
            <h4>Request by {{request.redditname}} - Comments</h4>
            <hr>
            {%for mod, comment in request.comments%}
              <h5>{{mod}}</h5>
              <p id="comment-{{request.id}}-{{mod}}">{{comment}}</p>
              <hr>
            {%endfor%}
            <h4>Add Comment</h4>
            <textarea id="add-comment-{{request.id}}">{%if request.comments[username]%}{{request.comments[username]|safe}}{%endif%}</textarea>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close btn grey lighten-4 black-text">Close</a>
            <a href="#!" class="modal-close btn grey lighten-4 black-text" data-id="{{request.id}}" data-user="{{request.redditname}}" id="mail-tags-post">Save and Close</a>
          </div>
        </div>
      </div>
      <hr />
      <div class="col s6 center" style="border-right: dotted 1px white;">
        <strong>Yes Votes</strong>
        <br />
        <a href="#modal-yes-votes-{{request.id}}" class="modal-trigger">{% if request.yesvotes %}{{request.yesvotes.length}}{% else %}0{% endif %}</a>
        <div id="modal-yes-votes-{{request.id}}" class="modal left-align">
          <div class="modal-content black-text">
            <h4>Request by {{request.redditname}} - Yes Votes</h4>
            <hr>
            <ul>
              {% for user in request.yesvotes %}
                <li>{{ user }}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close btn-flat">Close</a>
          </div>
        </div>
        <br />
        <a href="javascript:;" data-id="{{request.id}}" id="vote-approve" data-user="{{username}}">(Vote)</a>
      </div>
      <div class="col s6 center">
        <strong>No Votes</strong>
        <br />
        <a href="#modal-no-votes-{{request.id}}" class="modal-trigger">{% if request.novotes %}{{request.novotes.length}}{% else %}0{% endif %}</a>
        <div id="modal-no-votes-{{request.id}}" class="modal left-align">
          <div class="modal-content black-text">
            <h4>Request by {{request.redditname}} - No Votes</h4>
            <hr>
            <ul>
              {% for user in request.novotes %}
                <li>{{user}}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close btn-flat">Close</a>
          </div>
        </div>
        <br />
        <a href="javascript:;" data-id="{{request.id}}" id="vote-reject" data-user="{{loggedin}}">(Vote)</a>
      </div>
    </div>
  </div>
{% include "./footer.html"%}
