{% include "./header.html"%}
<div class="row white-text">
  <div class="col s12 center">
    <h4>Submitting Other Request</h4>
  </div>
</div>
<div class="row white-text">
  <div class="col s6 offset-s3">
    <form>
      <h6>Please provide as much detail about your request as possible.</h6>
      <textarea id="other-description" class="materialize-textarea"></textarea>
      <br />
      <a id="other-submit" data-username="{{loggedin}}" class="btn grey darken-1">Submit</a>
    </form>
  </div>
</div>
  <script src="/js/submit.js"></script>
{% include "./footer.html"%}
