{% include "./header.html"%}
<div class="row white-text">
  <div class="col s12 center">
    <h4>Submitting Business AMA</h4>
  </div>
</div>
<div class="row white-text">
  <div class="col s6 offset-s3">
    <form>
      <h6>Q3: What is your business' name?</h6>
      <p>
        <input type="text" id="ama-business-name">
      </p>
      <br />
      <h6>Q4: What is your product's name?</h6>
      <p>
        <input type="text" id="ama-business-product-name">
      </p>
      <br />
      <h6>Q5: Do you have the necessary permissions from the company to talk about the product on /r/Twitch?</h6>
      <p>
        <input type="radio" name="permission" id="ama-business-permission-yes">
        <label for="ama-business-permission-yes">Yes</label>
      </p>
      <p>
        <input type="radio" name="permission" id="ama-business-permission-no">
        <label for="ama-business-permission-no">No</label>
      </p>
      <br />
      <h6>Q6: Do you have a Terms of Service?</h6>
      <p>
        <input type="radio" name="tos" id="ama-business-tos-yes">
        <label for="ama-business-tos-yes">Yes</label>
      </p>
      <p>
        <input type="radio" name="tos" id="ama-business-tos-no">
        <label for="ama-business-tos-no">No</label>
      </p>
      <br />
      <h6 id="ama-business-product-tos">Q6.1: Please provide a link to your Terms of Service.</h6>
      <p id="ama-business-product-tos-input">
        <input type="text" id="ama-business-tos">
      </p>
      <br />
      <h6>Q7: What user data do you require on your product? Examples: email addresses, cookies, login data, API data, etc.</h6>
      <p>
        <input type="text" id="ama-business-data">
      </p>
      <br />
      <h6>Q8: What date would you like your AMA to start on?</h6>
      <p>
        <input type="date" id="ama-business-start">
      </p>
      <br />
      <h6>Q9: How many days would you like your AMA to run for?</h6>
      <p>
        <input type="number" id="ama-business-length">
      </p>
      <br />
      <a id="ama-business-submit" data-username="{{loggedin}}" class="btn grey darken-1">Submit</a>
  </div>
</div>
  <script src="/js/submit.js"></script>
{% include "./footer.html"%}
